/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
	.menu {
		display: none;
		position: absolute;
		background-color: #000;
		right: 0;
		left: 0;
		text-align: center;
		padding: 16px 0;
		margin-top: 28px;
	}

	.menu li {
		color: aliceblue;
		font-weight: 700px;
	}

	.menu li:hover {
		background-color: #fff;
		color: #000;
		display: inline-block;
		transition: 0.3s ease;
	}

	.menu li+li {
		margin-top: 12px;
	}

	input[type=checkbox]:checked~.menu {
		display: block;
	}

	.hamburger {
		display: block;
	}

	.dropdown {
		left: 50%;
		top: 30px;
		transform: translateX(35%);
	}

	.dropdown li:hover {
		background-color: gray;
	}

	/* hero */
	.hero_sliderContent {
		display: block;
	}

	.hero_slider-rightContent {

		padding: 11px 0 72px 0;
		width: 100%;

	}

	.hero_slider-rightContent h1 {
		font-size: 28px;
		line-height: 57px;
	}

	.hero_slider-rightContent h2 {
		font-size: 45px;
		line-height: 66px;
	}

	.hero_sliderImg {
		width: 100%;
	}


	/* footer */
	.footer-main {
		display: block;
	}

	.footer-Logo {
		margin: 0 auto;
		padding-top: 15px;
	}

	/* quicSurvey */

	.quicSurvey-content {
		display: block;
	}

	.quicSurveyLeft-content p {
		width: 100%;
	}

	.quicSurvey-btn {
		margin: 5% 0 0 18%;
	}

	.slider-bottom-content p {
		text-align: start;
		padding: 42px 0px;
	}

	.slider-bottom-leftcontent p:last-child {
		width: 100%;
		/* text-align: center; */
		margin: 0 auto;
	}

	.Slider-container {
		margin: 0 auto;
		padding: 0 15px;
	}

	.man-img {
		top: -60px;
	}

	.bringToIris-content {
		display: block;
	}

	.bringToIris-content .left-content p {
		margin-left: 20px;
	}

	.bringToIris-content .left-content {
		padding-top: 40px;
	}

	.left-content-para {
		padding: 20px 0 20px 0;
	}

	.bringToIris-content .right-content {
		padding-top: 0px;
		width: 100%;
	}

	.bring-to-iris-btn {
		padding-bottom: 25px;
		margin: 5% 0 0 18%;
	}

	.bringToIris-content .left-content h5 {
		line-height: 48px;
		width: 100%;
	}

	.content-top {
		padding: 0;
	}

	.some-fun .content-top h2 {
		line-height: 40px;
	}

	.some-fun-images {
		display: block;
	}

	.yellow-img img {
		width: 70%;
	}

	.man-img img {
		width: 80%;
	}

	.right-yellow-img img,
	.blue-img img {
		width: 90%;
	}

	.right-yellow-img {
		left: -46px;
	}

	.yellow-img-content h1 {
		line-height: 32px;
	}

	.yellow-img-content p {
		padding-top: 0px;
		font-weight: 0;
		font-size: 15px;
		line-height: 15px;
		width: 77%;
	}

	.blueplay-img {
		bottom: -26px;
		left: 54px;
	}

	.blueplay-img img {
		width: 48%;
	}

	.blueplay-img h1 {
		top: 17px;
		left: 43px;
	}

	.leadrshipImages {
		display: block;
	}

	.leadrshipImages .bb-img,
	.greatWork-img {
		Width: 60%;
		margin: 0 auto;
	}

	.leadrshipImages .SOC-img {

		Width: 60%;
		margin: 0 auto;
	}

	.leadrshipImages .topWork-img {

		Width: 60%;
		margin: 0 auto;
	}

	/* free cources */
	.center-content {

		width: 100%;
	}

	.Free-courses h2 {
		padding: 40px 20px;
	}

	.center-content p {
		padding-top: 20px;

	}

	/* webinar */
	.webinar-content {
		display: block;
	}

	.form {
		width: 100%;
	}
}


@media (max-width: 1024px) {
	header {
		width: 100%;
	}
}